title: Row and Table Solutions
email: ryan@rowandtable.com 
description: > # this means to ignore newlines until "baseurl:"
  Row & Table is a group of designers and developers who can put your data to work for you.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll


# Build settings
markdown: kramdown
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
  - package.json
  - node_modules
  - gulpfile.js 
  - bower_components
keep_files:
  - css
  - assets/css
  - assets/js



#Collections stuff:

collections:
  portfolio:
    output: true


