---
layout: home
---
{% assign settings = settings.data.settings %}

<div class="wrapper">
<div class="header-hero">
  {% include navigation.html %}
  <div class="main-heading">
    <h1>Looking for <br><span>A Custom App or Website?</span>
    </h1>
    <hr>
    <p>We work with your team to build web based software that will do things like save you time, generate revenue and make your job easier.</p>
    <a href="#" data-featherlight="{{site.url}}/hire.html .hire" class="button large">Hire Us Today</a>
  </div><!--/main-heading-->
  </div><!--/header-hero-->
  <div class="from-airtable">
    <h2>Your Small Project People</h2>
    <p class="main-lead-in">
      Most web agencies won’t talk to you unless you are spending more than $10,000 dollars on a big project.  We like projects that can be completed in a couple of weeks for less than half of that.</p>
      <hr>
    <h2>Your part-time in-house agile development team.</h2>
    <p class="main-lead-in">
     If your business or non-profit needs ongoing web development, but can’t afford a full-time team, you can hire us for two-week sprints at set intervals and we can work on creating or iterating on your projects.
</p>
      <hr>
          <h2>We can help you with&hellip;</h2>

    <div class="features row small-up-1 medium-up-2">
      <div class="column column-block">
        <img src="uploads/rocket.svg" alt="">
        <h4>Airtable</h4>
        <p>We’ve used Airtable in a ton of projects and know how to integrate it with a number of other programs.  Whether you’re using Airtable to prototype a more traditional app or you are just trying to build a small custom piece of software for your team, we can help you with the process. </p>
      </div><!--/column-->
      <div class="column column-block">
        <img src="uploads/website.svg" alt="">
        <h4>Content Management</h4>
        <p>We obsess over content management and know how to design both your web project and the system to manage it around your goals and mission.  We can work with you to find the best content solution for your project and even create one from scratch.</p>
      </div><!--/column-->
      <div class="column column-block">
        <img src="uploads/doc.svg" alt="" style="margin-top: 16px">
        <h4>Document Creation</h4>
        <p>Did you know you can use web technology to generate custom, beautiful, print-ready PDFs from your data.  We can help you generate simple or complex recurring newsletters, reports, menus or programs and save your team serious time in the process.</p>
      </div><!--/column-->
      <div class="column column-block">
        <img src="uploads/tablet.svg" alt="">
        <h4>Progressive Web Apps</h4>
        <p>We can create web apps that act like native apps on iPhones, iPads and Android devices.  These apps have most of the power that native apps have, with lower cost and an easier install.</p>
      </div><!--/column-->
    </div><!--/features-->
  <div style="text-align: center;">
    <a href="#" data-featherlight="{{site.url}}/hire.html .hire" class="button">Call for a Free Consult</a>
  </div>
  </div><!--/from airtable-->
  <div class="portfolio-band">
    <h3>Check out how we've helped other companies:</h3>
    <p>Our designers and developers have decades of experience helping businesses like yours.</p>
    <a href="{{site.url}}/portfolio.html" class="button hollow">View Our Portfolio</a>
  </div><!--/portfolio-band-->
  {% include footer.html%}
</div><!--/wrapper-->