---
layout: websites
---

<div class="wrapper">
<div class="header-hero" style="background: url({{site.url}}/uploads/Rectangle.png) no-repeat center center; background-size: cover;">
  {% include navigation.html %}
  <div class="main-heading">
    <h1>We don't just design pretty websites <br>
    <span>We create websites that <br>
    meet YOUR goals</span></h1>
    <a href="#" data-featherlight="{{site.url}}/hire.html .hire" class="button large">Hire Us Today</a>
  </div><!--/main-heading-->
  </div><!--/header-hero-->
  <div class="main-text-lead-in">
  	<h2>Your goals are our priority.</h2>
  	<h3>see how we can help you accomplish them:</h3>
  </div><!--/main-lead-in-->
  <div class="goals">
  <div class="goal goal1">
    <h3><img src="{{site.url}}/uploads/goal1.png" alt="">Goal 1: Gain Customers</h3>
    <p>The problem with most websites is that nobody <em>(the owner, the designer or the end user)</em> has a clear idea of what the website is supposed to do.  We do.  </p>
   <blockquote>Your website is not primarily a vehicle for designers to practice their art - <strong>it is a tool for generating customers.</strong></blockquote>
   <p>We try to keep this front and center in everything that we do. So we work hard at the <strong>stuff that actually makes you money</strong>, like...</p>
	<div class="features row small-up-1 medium-up-2">
      <div class="column column-block">
        <img src="{{site.url}}/uploads/copywriting.png" alt="">
        <h4>Copywriting</h4>
        <p>We work with you to make sure the actual text of your site is both clear and compelling.</p>
      </div><!--/column-->
      <div class="column column-block">
        <img src="{{site.url}}/uploads/marketing.png" alt="" style="margin-bottom: 47px; ">
        <h4>Marketing</h4>
        <p>We design and code with things like email funnels, giveaways and landing pages in mind.</p>
      </div><!--/column-->
      </div><!--/features-->
      <div style="text-align: center;">
      <a href="#" data-featherlight="{{site.url}}/hire.html .hire" class="button">Let Us Help You Get Customers</a>
      </div>
    </div><!--/goal-->
    <div class="goal goal2">
    <h3><img src="{{site.url}}/uploads/rocket.png" alt="">Goal 2: Save Time &amp; Hassle</h3>
    <p>We are <strong>absolutely obsessed</strong> with making sure your website is easy and intuitive to update.  Time is money, and <em>time spent fighting against a non-intuitive website is a waste of your money.</em></p>
    <h4>We build content management around YOUR content.</h4>
    <p><em>We don't use the same off-the-shelf content management systems (I'm looking at you Wordpress) that other people use</em>, we use tools that allow us to build your system around YOUR content in the ways that are most intuitive for you to update it.  <em>(It will amaze you how often your site gets updated when people aren't fighting it.)</em></p> 
    <h4>Simple, Intuitive, Website Editing</h4>
    <p>Our system is as simple as it possibly could be (so it's easy to learn), but it also has great features like visual editing and drag and drop file uploading.</p>
    <h4>Secure (Like Fort Knox)</h4>
    <p>Few things stink more than having your website hacked.  <em>(There goes a weekend!)</em> Our system is inherently secure and almost impossible to hack, so you can rest assured that your website will look good.</p>
   	<div style="text-align: center;">
    <a href="#" data-featherlight="{{site.url}}/hire.html .hire" class="button">Let Us Save You Time</a>
  </div>
    </div><!--/goal-->
    <div class="goal goal3">
    <h3><img src="{{site.url}}/uploads/crayons.png" alt="">Goal 3: Look Good Online</h3>
    <h4>We Don't Do Ugly.</h4>
    <p>Our team of designers has had decades of experience learning how to present make your business look good online.  Click on an image below to view some of our past work:</p>
   	<div style="text-align: center;">
    <a href="#" data-featherlight="{{site.url}}/hire.html .hire" class="button">Hire Us Today</a>
  </div>
    </div><!--/goal-->
    </div><!--/goals-->
  
  <div class="portfolio-band">
    <h3>Check out how we've helped other companies:</h3>
    <p>Our designers and developers have decades of experience helping businesses like yours.</p>
    <a href="{{site.url}}/portfolio.html" class="button hollow">View Our Portfolio</a>
  </div><!--/portfolio-band-->
  {% include footer.html%}
</div><!--/wrapper-->
