<div class="footer">
    <div class="state">
      <img src="uploads/state.png" alt="illinois with star over east central area" >
      <div class="text">
        <h4>Proudly Based In <br>
        Central Illinois</h4>

        <p>We are proud of our home base in Mattoon, IL.  If you are in the area, please reach out to us.  We'd love to get together.</p>
      </div><!--/text-->
      
    </div><!--/state-->
    <div class="brand">
    <img src="uploads/logo-light.svg" alt="">
    <p>717 S 34th St • Mattoon, IL 61938 <br>
      (217) 499-0822 • info@rowandtable.com</p>
    </div><!--/brand-->
  </div><!--/footer-->