<div class="navigation">
      <a href="{{site.url}}/" class="logo-desktop" alt="Row and Table Logo"><img src="uploads/symbol.png" alt=""></a>
      <a href="{{site.url}}/" class="mobile-logo"><img src="uploads/logo.png" alt="Row and Table Logo"></a>
      <ul class="menu"> 
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#" data-featherlight="{{site.url}}/hire.html .hire" class="button">Hire Us</a></li>
      </ul>
  </div><!--/navigation-->