<div class="navigation">
      <a href="{{site.url}}/" class="logo-desktop" alt="Row and Table Logo"><img src="{{site.url}}/uploads/icon.svg" alt=""></a>
      <a href="{{site.url}}/" class="mobile-logo"><img src="{{site.url}}/uploads/logo.svg" alt="Row and Table Logo"></a>
      <ul class="menu"> 
        <li><a href="{{site.url}}/blog.html">Blog</a></li>
        <!--<li><a href="{{site.url}}/websites.html">Websites</a></li>-->
        <li><a href="{{site.url}}/portfolio.html">Portfolio</a></li>
        <li><a href="#" data-featherlight="{{site.url}}/hire.html .hire" class="button">Hire Us</a></li>
      </ul>
  </div><!--/navigation-->