---
layout: default
alt-title: '<span>Our Sermons</span>'
---

<div class="sermonslistContent">
    <div class="sermonslistContent__MainList">
        <h2>All Sermons:</h2>
    {% for sermon in site.data.sermons %}
        <div class="sermonslistItem">
            <div class="sermonslistItem__thumbnail">
                {% if sermon.series_featured_image %}
                    {% for img in sermon.series_featured_image %}
                    <img src="{{img.url}}" alt="{{sermon.series_title}}">
                    {% endfor %}
                {% else %}
                    <img src="{{site.url}}/{{site.data.settings.main_sermon_image}}" alt="">
                {% endif %}
            </div><!--/sermonslistitem__thumbnail-->
            <div class="sermonslistItem__teaser">
            <div class="sermonslistItem__title">
                <h3><a href="{{site.url}}/{{ sermon.title | datapage_url: 'sermons' }}">{{sermon.title}}</a></h3>
                <ul class="action__buttons">
                    {% if sermon.sermon_mp3 %}
                    {% for item in sermon.sermon_mp3 %}
                    <li><a href="{{item.url}}" alt="play"><i class="fa fa-play"></i></a></li>
                    {% endfor %} 
                    {% endif %}
                    {% if sermon.manuscript %}
                    {% for item in sermon.manuscript %}
                    <li><a href="{{item.url}}" alt="handout"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endfor %}
                    {% endif %}
                    {% if sermon.slides %}
                    {% for item in sermon.slides %}
                    <li><a href="{{item.url}}" alt="slides"><i class="fa fa-file-powerpoint-o"></i></a></li>
                    {% endfor %}
                    {% endif %}
                </ul><!--/action__buttons-->
                </div><!--/sermonslistItem__title-->
                <ul class="sermonslistItem__tagline">
                <li><i class="fa fa-calendar"></i> {{sermon.date}}</li>
                <li><i class="fa fa-clock-o"></i> {{sermon.service}}</li>
                <li><i class="fa fa-user"></i> {{sermon.speaker_name}}</li>
                <li><i class="fa fa-book"></i> {{sermon.bible_text}}</li>
                </ul>
                <p class="sermonslistItem__description">{% if sermon.body_content %}{{sermon.body_content | markdownify | truncate: 140 }}{% endif %}</p>
                {% if sermon.sermon_mp3 %}
                {% for item in sermon.sermon_mp3 %}
                <audio class="sermonslistPlayer" controls>
                    <source src="{{item.url}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                <a href="{{item.url}}" class="button secondary" target="blank" download><i class="fa fa-download"></i> Download</a>
                {% endfor %}
                {% endif %}
                <a href="{{site.url}}/{{ sermon.title | datapage_url: 'sermons' }}" class="button" >View Sermon</a>
            </div><!--/sermonslistItem__teaser-->
        </div><!--/sermonslistItem-->
     {% endfor %}
    </div><!--/end main list-->
</div><!--/sermonslistContent-->