<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.data.settings.church_name}}</title>
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.url}}/new.css">
    <script src="https://use.fontawesome.com/00d641a760.js"></script>
  </head>
  <body class="secondary-page {{page.class}}">
  <div class="wrapper">
    <div class="secondary-nav">
      {% include navigation.html%}
    </div><!--/secondary-nav-->
    <div class="secondary-page-content">
      {{content}}
    </div><!--/secondary-page-content-->
  </div><!--/wrapper-->

    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>